@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Montserrat+Alternates:wght@400;700&display=swap');

:root {
    --light-bg-color: #f7f0f5;
    --dark-bg-color: #3f3716;
    --green-accent: #034c3c;
    --blue-accent: #2f6690;
    --red-accent: #ea2b1f;
}

body {
    font-family: 'Gotu';
    background: var(--light-bg-color);
    padding: 15px;
    font-size: 16px;
}

section {
    margin-bottom: 2em;
}

h1, h2, h3 {
    font-family: 'Montserrat Alternates';
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}

h1 {
    background: var(--blue-accent);
    color: #f7f7f7;
    font-size: 21px;
    padding: 3px;
    border-radius: 1em 4em;
    max-width: 55%;
    margin: 0 auto;
}

h2 {
    font-size: 19px;
}

h3 {
    color: var(--green-accent);
    font-size: 17px;
}

p {
    margin: 1em 10%;
    text-align: left;
    line-height: 1.5em;
    letter-spacing: .5px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: var(--red-accent);
    cursor: pointer;
}

ul, li {
    list-style: none;
    line-height: 1.5em;
    padding: 0;
    text-align: center;
}


.hardskills li {
    margin-top: 1em;
}

.softskills li {
    margin-top: 1em;
}

.fa-html5 {
    color: var(--red-accent);
    margin-right: 15px;
}

.fa-css3-alt {
    color: var(--blue-accent);
    margin-right: 15px;
}

.fa-js-square {
    color: #3a8e8f;
    margin-right: 15px;
}

.fa-react {
    color: #5ba8e3;
    margin-right: 15px;
}

.fa-github-square {
    margin-right: 15px;
}

.fa-linkedin {
    color: #098df2;
}

canvas {
    margin: 0 auto;
}

.summary {
    display: flex;
    flex-direction: column;
}

.name h1 {
    font-size: 30px;
}

.contact-info {
    text-align: center;
}

.contact-info h1 {
    margin-bottom: 1em;
}

.socials {
    display: flex;
    justify-content: space-evenly;
}
